@use "../custom" as *;

.select-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 25px;

  select {
    width: 10%;
    border-radius: 5px;
    border: 1px solid $grey-900;
    font-family: Helvetica;
    color: $grey-500;
  }

  p {
    font-family: Helvetica;
    color: $grey-500;
    margin: 0 10px;
  }
}

.results-table {
  display: flex;
  justify-content: center;
  table {
    font-family: Helvetica;
    color: $grey-500;
  }
}

.results-last-call {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: -30px;
  margin-bottom: -40px;
  a {
    position: relative;
    padding-right: 0.5rem;
    color: $primary;
    font-family: Helvetica;
  }
}

.table-rows {
  display: flex;
  flex-direction: row;
  a {
    color: $grey-500;
    font-family: Helvetica;
  }
  .dateText {
    color: $grey-500;
    font-family: Helvetica;
    font-weight: lighter;
    padding-right: 0.5rem;
  }
  .tableText {
    color: $grey-900;
    font-family: Helvetica;
    font-weight: lighter;
  }
}

.a-icon {
  color: $primary;
  width: 30px;
  margin-right: 10px;

  &:hover {
    color: $secondary;
  }
}

.share {
  display: flex;
  flex-direction: row;
  margin-top: -40px;
  margin-bottom: 40px;
}
